/* @import "tailwindcss/base"; */
/* the tailwind reset is pretty opinionated so restore some key styles for legacy SynchWeb */
@import "components/normalize.css";
/* @import "components/reset.css"; */
@import "components/typography.css";

@import "tailwindcss/components";

@import "legacy/base.css";

@import "legacy/icons.css";
@import "legacy/utility.css";

@import "legacy/plots.css";
@import "legacy/tables.css";

@import "legacy/header.css";
@import "legacy/sidebar.css";
@import "legacy/content.css";

@import "legacy/calendar.css";
@import "legacy/forms.css";
@import "legacy/assign.css";
@import "legacy/nearest.css";
@import "legacy/mc.css";
@import "legacy/imaging.css";

/* Third-party */
@import "vendor/jquery_misc.css";
@import "vendor/jquery-ui.css";
@import "vendor/magnific-popup.css";
@import "vendor/tipTip.css";


@import "tailwindcss/utilities";
