/* @import "tailwindcss/base"; */
/* the tailwind reset is pretty opinionated so restore some key styles for legacy SynchWeb */

@import "components/normalize.css";
@import "components/typography.css";

@import "tailwindcss/components";

@import "legacy/base.css";
@import "legacy/icons.css";
@import "legacy/utility.css";
@import "legacy/plots.css";
@import "legacy/tables.css";
@import "legacy/header.css";
@import "legacy/sidebar.css";
@import "legacy/content.css";
@import "legacy/calendar.css";
@import "legacy/forms.css";
@import "legacy/assign.css";
@import "legacy/nearest.css";
@import "legacy/mc.css";
@import "legacy/imaging.css";


/* Third-party */
@import "../../node_modules/jquery-ui/themes/base/all.css";
@import "../../node_modules/jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.css";
@import "vendor/jquery-ui.combobox.css";
/* purgecss start ignore */
@import "vendor/jquery_misc.css";
/* Magnific popup adds classes programatically, so we need to whitelist it for purgecss to include it */
@import "vendor/magnific-popup.css";
/* purgecss end ignore */

@import "tailwindcss/utilities";
