@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidSans.woff) format("woff")
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidSans-Bold.woff) format("woff")
}

@font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/DroidSerif-Italic.woff) format("woff")
}

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MavenProRegular.woff) format("woff")
}