


div.form {
    padding: 10px
}

div.form ul {
    list-style: none
}

/* Fix issue so that float layout works as expected (list item height determined by child content... */
div.form ul li {
    @apply tw-overflow-auto;
}

div.form ul li.extra {
    display: none
}

div.form ul li.extra.show {
    display: block
}

div.form label {
    float: left;
    display: block;
    font-size: 12px
}

div.form label span.small {
    display: block;
    font-size: 10px
}

div.form span.label {
    display: inline-block;
    padding: 1% 0;
    font-weight: bold
}

div.form span.label,
div.form label {
    width: 28%
}

@media (max-width: 800px) {
    div.form span.label,
    div.form label {
        float: none;
        display: block
    }
}

div.form label.secondary {
    width: auto;
    float: none;
    display: inline
}

div.form li.head {
    padding: 1% 0;
    font-weight: bold
}

div.form input,
div.form textarea,
div.form select {
    margin: 0 0 20px 5px
}
/* Defining padding for input types at end of file */
/* div.form input:not(.ui-combobox-input),
div.form textarea:not(.ui-combobox-input),
div.form select:not(.ui-combobox-input) {
    padding: 0.1%
} */

@media (max-width: 800px) {
    div.form input,
    div.form textarea,
    div.form select {
        margin: 0 0 20px 0
    }
}

div.form textarea {
    height: 200px
}

div.form textarea,
div.form input[name=title],
div.form input[name=TITLE],
div.form input.full {
    width: 70%
}

@media (max-width: 800px) {
    div.form textarea,
    div.form input[name=title],
    div.form input[name=TITLE],
    div.form input.full {
        width: 100%
    }
}

div.form button.submit {
    width: 150px;
    height: 30px;
    @apply tw-border tw-border-solid tw-rounded;
}

div.form select[multiple=multiple] {
    width: 200px;
    vertical-align: top
}

@media (max-width: 800px) {
    div.form select[multiple=multiple] {
        width: 60%
    }
}

div.form .progress {
    width: 150px
}

div.form label.ferror {
    display: none !important
}

div.form span.ferror {
    margin-left: 15px;
    border: none;
    background: #ebebeb;
    border-radius: 5px;
    padding: 0.5%;
    position: relative
}

div.form span.ferror:before {
    position: absolute;
    border: .7em solid transparent;
    left: -1.3em;
    top: 50%;
    margin-top: -.7em;
    content: '';
    border-right-color: #ebebeb
}

div.form textarea+span.ferror {
    margin-left: 29%
}

div.form .floated {
    width: 71.6%;
    margin: 1% 0;
    float: right
}

@media (max-width: 800px) {
    div.form .floated {
        width: 100%;
        float: none;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1
    }
}

div.form ul.visits li {
    clear: none
}

div.form .puck {
    width: 25%;
    float: right
}

@media (max-width: 800px) {
    div.form .puck {
        width: 40%
    }
}

@media (max-width: 400px) {
    div.form .puck {
        width: 100%;
        float: none;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1
    }
}

.ferror,
table.form .ferror,
div.form .ferror {
    background: #f26c4f
}

.editable {
    padding: 0.7% 1%;
    border-radius: 4px
}

@media (max-width: 800px) {
    .editable {
        padding: 2% 1%;
        display: inline-block
    }
}

.editable:hover {
    cursor: pointer;
    background: #cdcdcd url("/templates/images/edit.png") no-repeat right;
    background: #cdcdcd url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANCAQAAAAOR/aSAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfdDAQPNicPrLwkAAAAWElEQVQY063PsQ3AIAxE0R9WMoOEbRjB22QRMxNpgmRQTMWVpyf5DKdyrYUKRq7Nd+mHgM1tmkltFCCHl1W06w0q4SYVjMKz7nFoRz60JwN1gIj470JyMi8YZRwyixNLhAAAAABJRU5ErkJggg==') no-repeat right;
    padding-right: 2.5%
}

@media (max-width: 800px) {
    .editable:hover {
        padding-right: 7%
    }
}

.editable button {
    margin: 3px
}

.invalid {
    box-shadow: 0 0 8px #f26c4f
}

.valid {
    box-shadow: 0 0 8px #82d180
}

div.text_table {
    width: 71%;
    margin: 0 0 1% 0;
    float: right
}

div.text_table.small {
    width: 47%
}

div.text_table.half {
    width: 21%
}

div.text_table table {
    width: auto
}

div.text {
    width: 68.2%;
    margin: 1% 0;
    float: right;
    background: #ebebeb;
    border-radius: 5px;
    padding-right: 2.5%
}

@media (max-width: 800px) {
    div.text {
        width: 93%;
        float: none;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1
    }
}

div.text p {
    padding: 1% !important
}

div.text pre {
    background: #fff;
    padding: 1%;
    border-radius: 5px
}

div.text code {
    font-size: 10px;
    word-wrap: break-word
}

div.text ul {
    padding: 1% 2.5%
}

div.text ul li {
    list-style-type: circle
}

div.text h1 {
    text-decoration: underline;
    font-size: 14px;
    padding-bottom: 0.5%
}

div.text h2 {
    text-decoration: underline;
    font-size: 12px;
    padding-bottom: 0.5%
}

div.text.seq blockquote:before {
    content: '>';
    float: left;
    margin: 1%
}

.image img {
    width: 100%
}

table input[type=text] {
    width: 100%
}

@media (max-width: 400px) {
    .puck_wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .puck {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1
    }
}

@media (max-width: 800px) {
    .reorder {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    select,
    input,
    textarea {
        font-size: 16px !important
    }
}

.ui-combobox button.ui-button-icon-only {
    height: 1.8em
}

.form input,
.form optgroup,
.form textarea {
    font-family: inherit;
    @apply tw-p-1;
    @apply tw-bg-white tw-rounded tw-shadow tw-border;
    /* Turn on debugging... */
    /* @apply tw-border-4 tw-border-orange-400; */
}

.form input:focus, .form textarea:focus {
    @apply tw-outline-none tw-border-blue-500;
}

