
.clearfix {
    *zoom: 1
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.right {
    float: right;
    width: 49%;
    margin: 0;
    padding: 0 0 0 1%
}

.right.third {
    width: 32.33333%;
    margin: 0;
    padding: 0 1% 0 0
}

.right.twothird {
    width: 65.66667%;
    margin: 0;
    padding: 0 1% 0 0
}

@media (max-width: 400px) {
    .right {
        width: 100%;
        margin: 0;
        padding: 0
    }
}

.left {
    float: left;
    width: 49%;
    margin: 0;
    padding: 0 1% 0 0
}

.left.third {
    width: 32.33333%;
    margin: 0;
    padding: 0 1% 0 0
}

.left.twothird {
    width: 65.66667%;
    margin: 0;
    padding: 0 1% 0 0
}

@media (max-width: 400px) {
    .left {
        width: 100%;
        margin: 0;
        padding: 0
    }
}

.r {
    float: right
}

.l {
    float: left
}

.la,
.table table tbody td.la {
    text-align: left
}

.ra {
    text-align: right
}

.active {
    background: #82d180
}

.clear {
    clear: both
}

.b {
    font-weight: bold
}

.nowrap {
    white-space: nowrap
}

@media (max-width: 400px) {
    h1 {
        font-size: 12px
    }
}

.loading {
    opacity: 0.4;
    position: relative
}

.loading:after {
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 60px;
    content: '\f110';
    opacity: 1;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.loading-container {
    min-height: 450px;
    position: relative
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.animated {
    transition: transform 0.8s ease-in-out;
    animation-duration: 0.8s
}

.button {
    display: inline-block;
    border: 1px solid #e2e2e2;
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 3px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #dedede));
    background: -moz-linear-gradient(top, #ededed, #dedede);
    background: -webkit-linear-gradient(top, #ededed, #dedede);
    background: linear-gradient(to bottom, #ededed, #dedede)
}

.button:hover {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dedede), color-stop(100%, #ededed));
    background: -moz-linear-gradient(top, #dedede, #ededed);
    background: -webkit-linear-gradient(top, #dedede, #ededed);
    background: linear-gradient(to bottom, #dedede, #ededed)
}

.button.active {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3ZGZhNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgyZDE4MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7dfa5), color-stop(100%, #82d180));
    background: -moz-linear-gradient(top, #a7dfa5, #82d180);
    background: -webkit-linear-gradient(top, #a7dfa5, #82d180);
    background: linear-gradient(to bottom, #a7dfa5, #82d180)
}

.button.active:hover {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyZDE4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E3ZGZhNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82d180), color-stop(100%, #a7dfa5));
    background: -moz-linear-gradient(top, #82d180, #a7dfa5);
    background: -webkit-linear-gradient(top, #82d180, #a7dfa5);
    background: linear-gradient(to bottom, #82d180, #a7dfa5)
}

.button span {
    font-size: 11px
}

.button span.large {
    font-size: 18px
}

.button.button-notext span {
    display: none
}

.button.button-highlight {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
    background: -moz-linear-gradient(top, #ffffff, #ededed);
    background: -webkit-linear-gradient(top, #ffffff, #ededed);
    background: linear-gradient(to bottom, #ffffff, #ededed)
}

.no-close .ui-dialog-titlebar {
    display: none
}

.no-close .ui-dialog-titlebar-close {
    display: none
}

#login {
    display: none;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: scroll
}

#login iframe {
    width: 100%;
    height: 100%
}

ul.ui-autocomplete {
    z-index: 9999
}

.super {
    position: relative;
    top: -0.5em;
    font-size: 80%
}

.justify {
    text-align: justify
}