<div class="content">
    <h1>Welcome Page for SynchWeb</h1>
    <div class="grid_container">
        <div class="grid_box">
            <h2>Recent Features</h2>
            <ul>
                <li>Message 1</li>
                <li>Message 2</li>
            </ul>    
        </div>
        <div class="grid_box">
            <h2>System Status</h2>
            <ul>
                <li><span style="font-color: green" class="fa fa-check"></span> System 1: OK</li>
                <li><span style="font-color: orange" class="fa fa-exclamation-triangle"></span> System 2: Warning</li>
                <li><span style="font-color: red" class="fa fa-times"></span> System 3: Error</li>
            </ul>
        </div>
    </div>
</div>
